services:
  pmacho-elasticsearch:
    image: elasticsearch:9.2.3
    ports:
      - 9200:9200
    environment:
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - discovery.type=single-node
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -s --cacert /usr/share/elasticsearch/config/certs/http_ca.crt https://localhost:9200 > /dev/null || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 60

  pmacho-kibana:
    image: kibana:9.2.3
    depends_on:
      pmacho-elasticsearch:
        condition: service_healthy
    ports:
      - 5601:5601
    restart: unless-stopped

