services:
  pmacho-mysql:
    image: mysql:9
    volumes:
      - pmacho-mysql-volume:/var/lib/mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: changeme
      MYSQL_DATABASE: pmacho_db
      MYSQL_USER: pmacho_user
      MYSQL_PASSWORD: pmacho_password

  pmacho-mysql-client:
    image: mysql:9
    entrypoint: ["sh", "-c"]
    command: ["mysql -h pmacho-mysql -u root -p pmacho_db"]

volumes:
  pmacho-mysql-volume:

