services:
  pmacho-mysql:
    image: mysql:9
    volumes:
      - pmacho-mysql-volume:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: changeme
      MYSQL_DATABASE: pmacho_db
      MYSQL_USER: pmacho_user
      MYSQL_PASSWORD: pmacho_password
    healthcheck:
      test: [
        "CMD-SHELL",
        "mysql -h localhost -u$$MYSQL_USER -p$$MYSQL_PASSWORD -e 'SELECT 1' > /dev/null || exit 1"
      ]
      interval: 1s
      timeout: 2s
      retries: 60
    restart: unless-stopped

  pmacho-mysql-client:
    image: mysql:9
    depends_on:
      pmacho-mysql:
        condition: service_healthy
    entrypoint: ["sh", "-c"]
    command: ["mysql -h pmacho-mysql -u pmacho_user -p pmacho_db"]
    restart: no

volumes:
  pmacho-mysql-volume:

